@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');

body{
    font-family: 'Jost', sans-serif;
}

/* ----- Encabezado ----- */

h1 {
    font-size: 45px;
    font-weight: bolder;
}

header {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgb(54, 50, 59);
}

/* ----- Tabla ----- */

table {
    width: 100%;
    text-align: center;
}

p.columnaSemanas {
    font-weight: bolder;
    font-size: 45px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 0px;
    margin: 10px 0px 10px 0px;
    transform: rotate(180deg);
}

td.columnaSemanas {
    background-color: #36323b;
    color: white;
    width: 20px;
    border-bottom: 3px solid #615e64;

}

td#actual {
    background-color: rgb(109, 81, 237);
    color: white;
    width: 20px;
}

td {
    border-bottom: 3px dashed #e9efff;
}

tr {
    box-sizing: border-box;
}

.columnaContenido {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

/* ----- Asignaciones ----- */

.flexContenido {
    font-weight: light;
    font-size: larger;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 5px;
    width: 200px;
    height: 200px;
    background: linear-gradient(315deg, rgba(100,132,217,1) 9%, rgba(233,239,255,1) 9%, rgba(227,244,255,1) 94%);
    color: rgb(54, 50, 59);
    margin: 3px;
    word-wrap: break-word;
}

@media screen and (max-width: 500px) {
    .flexContenido {
        width: 120px;
        height: 120px;
        font-size: smaller;
    }
}

p.materia {
    font-weight: bold;
}