h1 {
    font-family: 'Exo', sans-serif;
    font-size: 40px;
}

table {
    text-align: center;
}

p.columnaSemanas {
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 0px;
    margin: 10px 0px 10px 0px;
    transform: rotate(180deg);
}

td.columnaSemanas {
    background-color: #ff8a2b;
    color: white;
    width: 20px;
    border: 1px solid #ff8a2b;
}

.columnaContenido {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.flexContenido {
    padding: 5px;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: lightblue;
    margin: 0px 0px 10px 10px;
}

header {
    text-align: center;
    padding: 30px;
}