img {
    width: 350px;
    border-radius: 5px;
}

body {
    text-align: justify;
}

tr{
    vertical-align: middle;
}

th {
    text-align: center;
    background-color: rgb(241, 241, 241);
}

header {
    text-align: center;
}

footer {
    font-size: smaller;
    font-weight: lighter;
    text-align: center;
}

a{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#footId{
    font-size: smaller;
    font-weight: lighter;
    text-align: right;
}