img {
    width: 350px;
    border-radius: 5px;
}

body {
    text-align: justify;
}

tr{
    vertical-align: middle;
}

th {
    text-align: center;
}

header {
    text-align: center;
}

footer {
    font-weight: lighter;
    text-align: center;
}

a{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}