/* ----- Secciones ----- */

header {
    text-align: center;
}

body {
}

footer {
    font-size: smaller;
    font-weight: lighter;
    text-align: center;
}

/* ----- Tablas ----- */

table {
    text-align: center;
}

tr{
    vertical-align: middle;
}

th {
    text-align: center;
    background-color: rgb(241, 241, 241);
}

/* ----- Elementos ----- */

.botonDiv {
    padding-right: 20px;
    text-align: right;
}

.beat {
    color: transparent;
}